backend/neurology/__pycache__/
backend/neurology/data/
backend/neurology/model_weights/
backend/venv/

data/
backend/cardiology/__pycache__/
backend/cardiology/models/
backend/cardiology/vectorstore/
backend/cardiology/qa_pairs.json

backend/internal medicine/miriad_balanced_300.json

